//Usato per Movie e Series
@mixin MovieSeries{
    ul{
        display: inline-block;
        width: calc(100% / 3);
        padding: 2rem;
        margin: 0 auto;
        text-align: center;
    
        li.my-d-reverse{
            display: none;
        }
    
        &:hover{
            img.my-img-hover {
                opacity: 0.2;
                transition: transform 2s ease, background-color 2s ease;
                transform: scale(1.2);

                
            }
            
            li.my-d-reverse{
                color: white;
                display: inline-block;
                text-align: center;
            }

            li.my-d-none{
                display: none;
            }
            img.img-flag{
                display: none;
            }
        }
    }
}

@mixin button {
        background-color: #1b1b1b;
        border-style: none;
}