*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

img.img-flag{
    width: 25px;
}

li.d-none-orginal-title{
    display: none;
}

i.color-yellow{
    color: rgba(255, 234, 0, 0.744);
}

header{
    padding: .5rem;
    background-color: #1b1b1b;
}

main{
    background-color: #1b1b1b;
}

a{
    text-decoration: none;
}